# This is a sample build configuration for Java (Gradle).
# Check our guides at https://confluence.atlassian.com/x/zd-5Mw for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: openjdk:11

pipelines:
  default:
    - step:
        name: Download dependencies
        caches:
          - gradle
        script:
          - bash ./gradlew shadowjar
    - step:
        name: Deploy code
        deployment: production
        script:
          - curl -X POST "https://${BB_AUTH_STRING}@api.bitbucket.org/2.0/repositories/${BITBUCKET_REPO_OWNER}/${BITBUCKET_REPO_SLUG}/downloads" --form files=@"./build/libs/gameapi-2.0.3-all.jar"